env/
*.AppImage
clips.db
*.journal
*.jpg
*.json
*.log
*.mp4
*.png
*.pyc
*.token
*.ts
*.txt
*.xcf
__pycache__/
.vscode/
*compilation.pkl
activate
client_secrets.json
geckodriver.log
proj*/
proj-*/meta.json
secrets.py
!cfg/data.py
cfg/data_secret.py
images/secrets/
thumbnails_save
youtube-upload-master
secrets.toml
!images/thumbnail_overlay.png
!images/thumbnail_overlay_single.png
!project.py
!proj-cluster_sample_30d-1/
!proj-cluster_sample_30d-1/compilation.pkl
!proj-cluster_sample_30d-1/meta.json
!proj-cluster_sample_30d-1/proj-cluster_sample_30d-1.mp4
!proj-cluster_sample_30d-1/thumbnail.jpg
!proj-cluster_sample_30d-1/time.txt
!proj-cluster_sample_30d-1/title.txt
!proj-cluster_sample_30d-1/thumbnail/*.jpg
!proj-cluster_sample_30d-1/thumbnail_with_icon.jpg
!proj-cluster_sample_30d-1/thumbnail.jpg
!proj-cluster_sample_30d-1/input/*
!proj-cluster_sample_30d-1/download/*
!proj-cluster_sample_30d-1/build/
!requirements.txt
!description_postfix.txt
