*.db
*.journal
*.jpg
*.json
*.log
*.mp4
*.png
*.pyc
*.token
*.ts
*.txt
*.xcf
*compilation.pkl
.vscode/
activate
client_secrets.json
geckodriver.log
images
proj*/
proj-*/meta.json
secrets.py
secrets/
thumbnails_save
youtube-upload-master
!images/thumbnail_overlay.png
!images/thumbnail_overlay_single.png
!project.py